html, body {
    margin: 0;
    overflow: hidden;
}

/* MAIN CONTAINER */
main {
    display: flex;
    height: 100vh;
    background: linear-gradient(90deg, #32CD32, #52D2D7);
}

/* main * {
    visibility: hidden;
} */

/* ROOMS LIST CONTAINER*/
.room-list {
    height: 100vh;
    width: 25vw;
    background-color: rgba(0,0,0, 0.5);
}

.room-list h3{
    margin: 0;
    text-align: center;
    padding: 1em;
    background-color: rgba(0,0,0, 0.5);
    color: #888;
}


/* MESSAGE LIST CONTAINER */
.message-list {
    height: 100vh;
    width: 100%;
}

.message-list #messages {
    height: 85%;
}

#messages li {
    
}

.message-list form {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.message-list form input {
    width: 75%;
    height: 50%;
}

.message-list form button {
    width: 10%;
    height: 50%;
}