
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

section {
    border: 1px solid black;
}

.room-list {
    height: 80vh;
    width: 20vw;
}

.message-list{
    height: 80%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.message-list form input {
    
}

