html, body {
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

/* MAIN CONTAINER */
main {
    display: flex;
    height: 100vh;
    /* background: #F0F9FC; */
}

/* main * {
    visibility: hidden;
} */

/* ROOMS LIST CONTAINER*/
.room-list, .user-list {
    height: 50vh;
    width: 25vw;
    /* background-color: rgba(0, 0, 0, 0.5); */
    box-shadow: 5px 5px 5px #EEE;
}

.room-list h3, .user-list h3{
    font-size: 1em;
    margin: 0;
    text-align: center;
    padding: 1em;
    /* color: #BBB; */
    color: #4ca1af;
    /* background-color: #4ca1af; */
    border-bottom: 1px solid #EEE;
}

#rooms, #users {
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

#rooms li, #users li {
    text-align: center;
    padding: 1em;
    border-bottom: 1px solid #EEE;
    color: #888;
}

#rooms li span, #users li span {
    font-size: 1em;
    font-weight: bold;
}

#rooms .active {
    /* background-color: rgba(0, 0, 0, 0.1); */
    /* background-color: #4ca1af; */
    background: linear-gradient(90deg, #4ca1af, #c4e0e5);
}

#rooms .active span {
    color: #FFF;
}




/* MESSAGE LIST CONTAINER */
.message-list {
    height: 100vh;
    width: 100%;
}

.message-list #messages {
    height: 85%;
    list-style: none;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

#messages li {
    margin: 1em;
}

#messages li span{
    padding: 1em;
    box-shadow: 1px 1px 10px 1px #EEE;
    font-size: 0.75em;
    border-radius: 2em;
    border-bottom-left-radius: 0;
}

#messages .from span {
    /* background-color: #6840A9; */
    background: linear-gradient(45deg, #4ca1af, #c4e0e5);
    color: #FFF;
    float: right;
    border-radius: 2em;
    border-bottom-right-radius: 0;
}

.message-list form {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px -5px 5px #EEE;
}

.message-list form input {
    width: 75%;
    height: 50%;
    border: none;
    font-size: 0.75em;
}

.message-list form input:focus {
    outline: none;
}

.message-list form button {
    width: 10%;
    height: 50%;
    padding: 1em;
    /* background-color: #6840A9; */
    background-color: #4ca1af;
    /* background: linear-gradient(90deg, #4ca1af, #c4e0e5); */
    border-radius: 1em;
}

.message-list form button i{
    font-size: 1em;
    color: #fff;
}

.message-list form * {
    /* border: 1px solid black; */
}