extends ../layout.pug

block content
    h1 LOGIN
    h2 user
    form(method="POST" action="/login")
        input(type='text' name='username' placeholder='username')
        input(type='password' name='password' placeholder='password')
        input(type='submit' value='LOGIN')
        